.input-group
	display block

	position relative
	margin-x(auto)

	width 400px

	&_iconed

		> .input-group__input
			background-color transparent
			border none
			border-bottom 1px solid #000000

			padding-y(10px)
			padding-right 60px

			position relative

			width 100%

			placeholderColor(text-primary)


		> .input-group__submit
			background-color transparent
			background-repeat no-repeat
			background-position center center

			border none

			position absolute

			top 0
			right 0
			bottom 0

	&_arrow

		> .input-group__submit
			background-image url('../images/form/arrow.svg')
			background-size 75%

			size(40px)

