.story
	display block

	&__cover
		max-height 510px

		margin-bottom 100px

		width 100%

		overflow hidden

.cover__image
	width 100%

.story__content
	display block

	padding-x(80px)

	margin-bottom 120px

.content

	&__header
		display block

		margin-bottom 40px

	&__tag
		margin-bottom 20px

	&__title
		margin-bottom 20px

	&__body
		display block

		margin-bottom 60px

		& > p
			font-size fs-normal
			line-height 1.7rem

			margin-bottom 1.7rem


	&__footer
		display block

.title
	font-size fs-large

.tag, .comment-link
	color link-default

	text-transform uppercase
	transition color ease .3s

	font-family font-link
	font-size 1rem

	&:hover, &:focus
		color link-active
