.navbar
	display block

.navbar__body
	display block
	text-align justify

	line-height 0

	&:after
		content ''

		display inline-block

		width 100%
		height 0

.navbar__item
	display inline-block
	line-height normal


.navbar__link
	display block

	padding 7px 10px

	color #626262
	text-transform uppercase

	font-family 'Playfair Display', serif
	font-size 14px

	transition color ease .3s

	&:hover, &:focus
		color #000
