.menu
	display block
	text-align justify

	line-height 0

	&:after
		content ''

		display inline-block

		width 100%
		height 0

	&__item
		display inline-block
		line-height normal


	&__link
		display block

		padding 7px 10px

		color text-primary
		text-transform uppercase

		font-family font-default
		font-size fs-normal

		transition color ease .3s

		&:hover, &:focus
			color link-active
