/*--------------fonts--------------*/

font-default = 'Playfair Display', serif
font-link = 'Ubuntu', sans-serif
font-cute = 'Inconsolata', monospace

default-font-size = 14px

fs-normal = 1rem
fs-big = 1.429rem
fs-large = 2.143rem

/*--------------colors--------------*/

text-primary = #626262
text-dark = #333333
link-default = #b4ad9e
link-active = #000000
