extends /blocks/layout/layout

include /blocks/page/page

include /blocks/header/header
include /blocks/story/story

block head
	- var pageTitle = 'minimø';

block content
	+ page
		+ header
		+ story
