include /blocks/container/container
include /blocks/navbar/navbar

mixin header()
	+b.header&attributes(attributes)
		block
		+ container
			div.header__logo
				span.logotype
					a.logotype__link(href="javascript:void(0)") minimø
			div.header__nav
				+ navbar([
					{title: 'lifestyle', link: 'javascript:void(0)'},
					{title: 'photodiary', link: 'javascript:void(0)'},
					{title: 'music', link: 'javascript:void(0)'},
					{title: 'travel', link: 'javascript:void(0)'}
				])
