.header
	display block

	padding-y(70px)

.header__logo, .header__nav
	float left

.header__logo
	width 40%

.header__nav
	width 60%


.logotype
.logotype__link
	text-transform uppercase

	font-family Inconsolata
	font-size 30px
