.header
	display block

	padding-y(70px)
	clearfix()

.header__logo, .header__nav
	float left

.header__logo
	width 45%

.header__nav
	width 55%


.logotype

	&__link
		text-transform uppercase
		letter-spacing 4px

		font-family font-cute
		font-size fs-large
