include /../node_modules/bemto.jade/bemto
include /../node_modules/jade-injected/jade-injected
include ../body/body
include ../scripts/scripts

doctype html
html(lang='ru')
	include ../head/head
	+body
		block content
		+scripts(['app.min.js'])
