.content-link
	display inline-block

	&__link
		color link-default

		text-transform uppercase

		transition color ease .3s

		font-family font-link
		font-size fs-normal

		&:hover, &:focus
			color link-active
